@import 'normalize';
@import 'fonts';
@import 'variables';
// @import 'mixin';



//components

@import 'components/header-menu';
@import 'components/tegs';
@import 'components/btn';
@import 'components/cards';
@import 'components/orange-section';
@import 'components/yellow-section';
@import 'components/white-section';
@import 'components/blue-section';
@import 'components/brown-section';
@import 'components/reverse-section';
@import 'components/columns';
@import 'components/one-column';
@import 'components/footer';



body {
  font-family: 'Graphik', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: $base_font_weight;
  font-size: $base_font_size;
  line-height: $base_line_height;
  color: $black;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1437px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}



