.blue_section {
  background: $blue;
  padding: 55px 0;

      .box {
        // align-items: stretch;
        &__col {
          align-content: flex-start;

              &:first-child {
                align-items: flex-start;
                width: auto;
                margin-right: 30px;
              }
  
              &:last-child {
                align-items: flex-end;
                margin-left: 30px;
              }
        }
      }

      

      blockquote {
        margin: 0 0 23px 0;
       }

       cite {
         margin-bottom: 7px;
         font-size: $base_font_size - 5px;
         line-height: $base_line_height - 5px;
       }
}